<style>
    .bread-crumbs {
        background-color: #efefef;
        padding: 5px;
    }
    .subcategories {
        float: left;
        margin-right: 15px;
        padding: 15px;
        background-color: #efefef;
        margin-top: 15px;
    }
    .content {
        overflow: hidden;
        padding: 15px;
        background-color: #efefef;
        margin-top: 15px;
    }
    .item {
        border: 1px solid #dadada;
        background-color: #fafafa;
        display: inline-block;
        padding: 15px;
        width: 150px;
        margin-bottom: 4px;
        text-decoration: none;
        color: #888;
    }
    .item:hover {
        color: #333;
    background-color: #efefef;
    }
</style>

<h1>Электронный каталог</h1>
<form method="GET" action="{% url 'search' '' %}">
    {{ search_form }}
    <input type="submit" value="Найти">
</form>
<div class="bread-crumbs">
    Вы находитесь:
    {% for category in category_chain %}
        <a href="{% url 'catalog' category.url '' %}">{{ category.name }}</a>
        {% if not forloop.last %} > {% endif %}
    {% endfor %}
</div>

<div class="subcategories">
    Категории:<br>
    {% for subcategory in subcategories %}
        <a href="{% url 'catalog' subcategory.url '' %}">{{ subcategory.name }}</a><br>
    {% endfor %}
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>