<style>
    .paginator {
        text-align: right;
    }
</style>
{% extends 'catalog/basic.html' %}

{% block content %}
    {% for item in page.object_list %}
        {% with item.id|stringformat:"s" as id_str %}
            <a href="{% url 'item' '/'|add:id_str %}" class="item">
                Товар #{{ item.id }}<br>
                {{ item.name }}
            </a>
        {% endwith %}
    {% endfor %}
    <div class="paginator">
        {% if page.has_previous %}
            <a href="{% url 'catalog' category_url page.previous_page_number %}"><< Назад</a>
        {% endif %}
        {% if page.has_next %}
            <a href="{% url 'catalog' category_url page.next_page_number %}">Вперед >></a>
        {% endif %}
    </div>
{% endblock %}