{% extends 'catalog/basic.html' %}

{% block content %}
    {% for item in page.object_list %}
         <a href="{% url 'item' item.id %}" class="item">
            Товар #{{ forloop.counter }}<br>
            {{ item.name }}
        </a>
    {% endfor %}
    {% if page.has_previous %}
        <a href="{% url 'search' page.previous_page_number '/1' %}"><< Назад</a>
    {% endif %}
    {% if page.has_next %}
        <a href="{% url 'search' page.next_page_number '/1' %}">Вперед >></a>
    {% endif %}
{% endblock %}